<h1 class="project-headings">Old Empire</h1>

<div class="synopsis">
    <p>I founded and grew this promotions company in 2014 from the ground up.<br>Our strong focus on marketing and digital culture allowed us to become a go-to promoter for upcoming overseas acts.<br>My journey to growing Old Empire has been profiled in a number of online live music publications, most recently <a href="https://astralnoizeuk.com/2020/05/26/old-empire-on-underground-promoters-and-the-impact-of-covid-19-on-the-live-music-scene/">Astral Noize</a>.</p>
    <ul class="oe-list">
    <li><strong>Large scale operations management:</strong>  Supervised end-to-end production of shows for high-profile artists including<br> Chelsea Wolfe and Grandmaster Flash, garnering critical acclaim in media outlets.</li>
    <li><strong>Commitment to diversity:</strong> In 2019, I conceptualised and launched the World Metal Congress, a roundtable designed<br> to identify social issues affecting the industry which gathered musicians from countries primarily affected by war.<br>  We were featured on the BBC, ITV and brought metal to the Imperial War Museum for the first time in its history.</li>
    <li><strong>Relationship Management:</strong> Negotiated brand partnerships agreements with Brooklyn Brewery in New York and <br>Camden Town Brewery enhancing sales through ticket incentives.</li>
    </ul>
</div>

<div class="gig-posters text-center">
    <img src="/assets/grandmaster.jpg" style="width:12.5%;height:12.5%;"/>
    <img src="/assets/sunn.jpg" style="width:12.5%;height:12.5%;"/>
    <img src="/assets/goblin.jpg" style="width:12.5%;height:12.5%;"/>
    <img src="/assets/wardruna.jpg" style="width:12.5%;height:12.5%;"/>
    <img src="/assets/emma.jpg" style="width:12.5%;height:12.5%;"/>
    <img src="/assets/russian.jpg" style="width:12.5%;height:12.5%;"/>
    <img src="/assets/persistance.jpg" style="width:12.5%;height:12.5%;"/>
</div>
