<h1 class="project-headings">SOS App</h1>

<div class="synopsis text-center">
    <p>SOS-App is an emergency app which identifies the users location and generates the corresponding emergency numbers for that area (Ambulance, Fire, Police). It also generates a map giving directions to the closest hospitals, police stations and pharmacies.  This app was created as part of my final project at Makers Academy.  We were assigned to random teams and given two weeks to fully build something, from planning, to deployment, to presentation.  Together we decided it would be interesting to explore a tech stack we hadn't used before, and due to our interest in mobile apps, we opted for Swift.  The learning curve initially was very steep, but through good planning, regular stand-ups and knowledge sharing we managed to ramp up the application quickly.  The app itself is a hybrid of SwiftUI and SwiftUIKit, with the app 'hosting' a view which sends a request to an external API and returns the emergency services details.  An essential part of this app is using the Core Location function of the users iPhone, which then in turn sends information to the Google API and updates the map with local information.  If we had more time it would have been good to be able to use a language translator so that users all over the world can benefit from the app, plus it could pass back local phrases depending on the users location, which means they could ask locals for help as well.  We would also like to explore the idea of using something like Twilio to send a text message to an emergency contact if the user hits a button in the app.</p>
</div>

<div class="text-center oe-pad">
    <p>To view the source code for my app, you can head to my <a href="https://github.com/joshuaretallick/SOS-App">Github</a>, plus read through the user stories and design process for this project.</p>
</div> 

<div class="text-center oe-pad">
    <iframe src='https://www.youtube.com/embed/2EuumcW2BYQ' frameborder='0' allowfullscreen></iframe>
    <p>As this was part of my final project, we presented it to the public along side the other students in my cohort.  You can see our app between 1:40 & 10:16.</p>
</div>

