<div class="card" style="width: 18rem; height: 48rem;">
    <div class="text-center profile">
        <img src="/assets/profile.jpg" class="rounded-circle" style="width:200px;height:200px;" />
    </div>
    <div class="container col-md-8 top-buffer">
      <%= render 'layouts/logos' %>
    </div>
</div>
