
<div class="row">
  <div class="col-4">
      <div class="card">
        <div class="text-center profile">
            <img src="/assets/profile.jpg" class="rounded-circle" style="width:200px;height:200px;" />
        </div>
        <div class="text-center skills-header">
          Skills
        </div>
        <div class="list">
          <ul style="list-style-type:none;">
            <li><img src="/assets/tick.svg" style="width:10px;height:10px;"/> Large scale operations management</li>
            <li><img src="/assets/tick.svg" style="width:10px;height:10px;"/> Cross functional team player</li>
            <li><img src="/assets/tick.svg" style="width:10px;height:10px;"/> Agile Development</li>
            <li><img src="/assets/tick.svg" style="width:10px;height:10px;"/> Test Driven Development & Debugging</li>
          </ul>
        </div>
        <div class="container col-md-8 top-buffer">
          <%= render 'layouts/logos' %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="job-title text-left">
        <h1 class="display">Software Developer</h1>
        <p class="description text-left">A highly driven, ambitious junior web developer and <a href="https://makers.tech/">Makers Academy</a> graduate.<br>Since graduating I have continued working on personal coding projects which<br> you can see examples of in this website.<br>
        Prior to my shift in to software development, I  also owned a highly successful<br> event management company called Old Empire.<br>Please click the links above to learn more about my journey.</p>
      </div>
    </div>
  </div>
</div>





