<div class="text-center profile">
    <img src="/assets/profile.jpg" class="rounded-circle" style="width:200px;height:200px;" />
</div>

<div class="text-center heading">
    <h4>Welcome to my online resume</h4>
</div>