<div class="card">
    <div class="text-center profile">
        <img src="/assets/profile.jpg" class="rounded-circle" style="width:200px;height:200px;" />
    </div>
    <div class="text-center skills-header">
      Skills
    </div>
    <div class="list">
      <ul style="list-style-type:none;">
        <li><img src="/assets/tick.svg" style="width:10px;height:10px;"/> Large scale operations management</li>
        <li><img src="/assets/tick.svg" style="width:10px;height:10px;"/> Cross functional team player</li>
        <li><img src="/assets/tick.svg" style="width:10px;height:10px;"/> Agile Development</li>
        <li><img src="/assets/tick.svg" style="width:10px;height:10px;"/> Test Driven Development & Debugging</li>
      </ul>
    </div>
    <div class="container col-md-8 top-buffer">
      <%= render 'layouts/logos' %>
    </div>
</div>


