<head>
  <meta http-equiv="refresh" content="5;url=<%= home_path %>">
</head>

<div class="landing">
    <h1>Hi</h1>
</div>


<style>
@media (min-width: 768px) {
 .navbar {
    display: none;
 }
}
@media (min-width: 768px) {
 #footer {
    display: none;
 }
}
</style>
