<h1 class="project-headings">Dear Diary</h1>

<div class="synopsis text center">
    <p>For this app I wanted to explore the internal workings of a Rails project through a standard CRUD application.

    This blogging app has been created without generating any scaffolds or the usual Rails helpers. So all routes, models, views and controllers were manually coded by myself which has helped me really delve in to the magic beneath the hood. This was especially challenging for the authentication side of things, as rather than use the wonderful (it truly is) gem DEVISE, I opted for BCrypt. By doing this it has made me understand authentication much deeper at the controller level. <br> When you are doing a coding bootcamp, it can often be a whirlwind of knowledge and learning, so I thought it was important once I finished the course to go back and nail these fundamentals. <br> If you refer to my github, you can see another similar app I built called <a href="https://github.com/joshuaretallick/dogbook">Dogbook</a>.  When we built this app (it was a team project) there was a much higher focus on delivering a product, but I often found myself scratching my head when certain things worked the way they did in Rails. <br> I also got to use this as a chance to explore Bootstrap properly.  I was surprised how simple it was to use this library and I think it I have an elegant looking blogging app with the users experience at its heart.<br>  This is Rails coding at its purest.</p>
</div>

<div class="text-center oe-pad">
    <p>To view the source code for my app, you can head to my <a href="https://github.com/joshuaretallick/dear-diary">Github</a>.  I have also deployed this app to Heroku, which you can view <a href="https://secret-meadow-14231.herokuapp.com/">HERE</a></p>
</div> 

<div class="gig-posters text-center">
    <img src="/assets/ddhome.png" style="width:25%;height:25%;"/>
    <img src="/assets/ddsign.png" style="width:25%;height:25%;"/>
    <img src="/assets/ddwelcome.png" style="width:25%;height:25%;"/>
    <img src="/assets/ddarticle.png" style="width:25%;height:25%;"/>
    <img src="/assets/ddcreate.png" style="width:25%;height:25%;"/>
</div>