@import "bootstrap/dist/css/bootstrap";

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.navbar-brand {
  padding-left: 10px;
}

.profile {
  margin-top: 40px;
  margin-bottom: 10px;
}

.card {
  border-radius: 0 !important;
  background-color: lightpink;
  border: none;
  width: 18rem;
  min-height: 100vh;
  position: right;
}

.rounded-circle {
  border-radius: 100%;
  border: 5px solid whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top-buffer {
  filter: grayscale(65%);
  margin-top: 40px;
}

.row-buffer {
  margin-top: 10px;
}

.skills-header {
  font-family: "Lobster", cursive;
  font-size: 2rem;
  margin-top: 40px;
}

.list {
  text-align: center;
  list-style-type: none;
  margin-right: 40px;
  font-family: "Noto Sans HK", sans-serif;
  font-style: italic;
  font-size: 0.9rem;
}

.heading {
  margin-left: 1000px;
}

.job-title {
  position: fixed;
  top: 45%;
  left: 40%;
  margin-top: -50px;
  margin-left: -100px;
  font-family: "Lobster", cursive;
}

.description {
  font-family: "Noto Sans HK", sans-serif;
}

.project-headings {
  font-family: "Lobster", cursive;
  padding-left: 10px;
}
