@import "bootstrap/dist/css/bootstrap";

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.navbar-brand {
  padding-left: 10px;
}

.profile {
  min-width: 50px;
  min-height: 50px;
}

.card {
  border-radius: 0 !important;
  border: none;
  min-width: 18px;
  min-height: 100vh;
  position: right;
}

.rounded-circle {
  border-radius: 100%;
  border: 5px solid whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top-buffer {
  margin-top: 60px;
  filter: grayscale(65%);
}

.row-buffer {
}

.skills-header {
  font-family: "Lobster", cursive;
  font-size: 2rem;
  margin-top: 60px;
}

.list {
  text-align: center;
  list-style-type: none;
  margin-right: 40px;
  font-family: "Noto Sans HK", sans-serif;
  font-style: italic;
  font-size: 0.9rem;
}

.heading {
  margin-left: 1000px;
}

.job-title {
  font-family: "Lobster", cursive;
  margin-top: 250px;
  margin-left: 50px;
}

.description {
  font-family: "Noto Sans HK", sans-serif;
}

.project-headings {
  font-family: "Lobster", cursive;
  padding-left: 10px;
}

.job-display {
  animation: wiggle 3s;
}

@keyframes wiggle {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, 2px) rotate(1deg);
  }
  20% {
    transform: translate(1px, -1px) rotate(-1deg);
  }
  30% {
    transform: translate(-1px, -1px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.synopsis {
  font-family: "Noto Sans HK", sans-serif;
  padding-left: 10px;
}

.oe-list {
  font-style: italic;
}

.carousel-inner > .item > img {
  width: 240px;
  height: 360px;
}

iframe {
  width: 600px;
  height: 400px;
}

.oe-pad {
  padding-top: 20px;
}

.left-column {
}

.col-4 {
  background-color: lightpink;
}
