<h1 class="project-headings">MessageMe</h1>

<div class="synopsis text-center">
    <p>For this app I wanted to expand on my knowledge of Rails but with a single page app and exploring new features.

    I created this app following usual Rails protocol, opting for BCrypt for authentication and instead of Bootstrap, I decided to try a new CSS framework in Semantic UI. I found there were a lot of similarities between the two, with Semantic giving me a cleaner look but I did feel Bootstrap was more intuitive. <br>To make the chat app feature work in real-time without page refresh (this is inherently a problem of Rails vs JavaScript), I used an inbuilt Rails method called ActionCable which allows for full duplex communication. <br>I have used other similar ones before (ie PubNub) but this was much more straight forward, with the only tricky thing being adding some JavaScript and CoffeeScript so the user can operate this properly from their browser. <br> As you can see from my GIF below I am simulating a chat between one browser and another in incognito mode.  The chat instantly updates on the board without requiring the user to reload their browser.</p>
</div>

<div class="gig-posters text-center">
    <img src="/assets/message.gif" style="width:65%;height:65%;"/>
</div>

<div class="text-center oe-pad">
    <p>To view the source code for my app, you can head to my <a href="https://github.com/joshuaretallick/message_me">Github</a>.  I have also deployed this app to Heroku, which you can view <a href="https://shrouded-spire-09874.herokuapp.com/">HERE</a></p>
</div> 