<div id="footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Joshua Retallick", "https://github.com/joshuaretallick/cv", class: "text-white" %> | Built with Rails 6 & Bootstrap 4
    </div>
</div>