<div class="row row-buffer">
  <div class="col-sm">
    <img src="/assets/ruby.svg" style="width:30px;height:30px;"/>
  </div>
  <div class="col-sm">
    <img src="/assets/javascript.svg" style="width:30px;height:30px;"/>
  </div>
  <div class="col-sm">
    <img src="/assets/swift.svg" style="width:30px;height:30px;"/>
  </div>
</div>
<div class="row row-buffer">
  <div class="col-sm">
    <img src="/assets/coffeescript.svg" style="width:30px;height:30px;"/>
  </div>
  <div class="col-sm">
    <img src="/assets/rails.svg" style="width:30px;height:30px;"/>
  </div>
  <div class="col-sm">
    <img src="/assets/sinatra.svg" style="width:30px;height:30px;"/>
  </div>
</div>
<div class="row row-buffer">
  <div class="col-sm">
    <img src="/assets/postgresql.svg" style="width:30px;height:30px;"/>
  </div>
  <div class="col-sm">
    <img src="/assets/mysql.svg" style="width:30px;height:30px;"/>
  </div>
  <div class="col-sm">
    <img src="/assets/html.svg" style="width:30px;height:30px;"/>
  </div>
</div>
<div class="row row-buffer">
  <div class="col-sm">
    <img src="/assets/css.svg" style="width:30px;height:30px;"/>
  </div>
  <div class="col-sm">
    <img src="/assets/bootstrap.svg" style="width:30px;height:30px;"/>
  </div>
  <div class="col-sm">
    <img src="/assets/semantic.svg" style="width:30px;height:30px;"/>
  </div>
</div>
